@use "../custom" as *;

.display-1 {

    &--menu {
        font-size: 1rem;
        font-weight: 500;
        font-family: "Playfair Display";
        text-transform: uppercase;
    }

    &--title-banner {
        font-size: 2.2rem;
        font-family: "Playfair Display";
        text-transform: uppercase;

        @include media-breakpoint-up(lg){
            font-size: 4rem;
        }
    }

    &--text-banner {
        font-size: 1rem;
        font-family: "Playfair Display";
        text-transform: uppercase;

        @include media-breakpoint-up(lg){
            font-size: 1.8rem;
        }

    }
   
}

.display-2 {

    font-size: 1.8rem;
    font-family: "Playfair Display";
    text-transform: capitalize;
    font-weight: 700;

    @include media-breakpoint-up(lg){
        font-size: 2.5rem;
    }
}

.text-info {

    font-size: 0.8rem;
    color: $gray-700 !important;

    @include media-breakpoint-up(lg){
        font-size: 1rem;
    }
}

.display-3 {
    font-size: 1.8rem;
    font-family: "Playfair Display";
    text-transform: capitalize;
    font-weight: 600;

    @include media-breakpoint-up(lg){
        font-size: 2rem;
    }

    &--subtitle {
        font-size: 1.1rem;
        font-family: "Playfair Display";
        text-transform: capitalize;
        font-weight: 600;

        @include media-breakpoint-up(lg){
            font-size: 1.3rem;
        }

    }

    &--link {
        font-family: "Playfair Display";
        text-transform: uppercase;
        font-weight: 600;

    }
}

.display-4 {
    font-size: 1.4rem;
    font-family: "Playfair Display";
    text-transform: capitalize;
    font-weight: 600;

    @include media-breakpoint-up(md){
        font-size: 1.8rem;
    }

    &--subtitle {
        font-size: 0.85rem;
        text-transform: capitalize;
        font-weight: 500;

        @include media-breakpoint-up(md){
            font-size: 1.1rem;
        }
    }
}